<form [formGroup]="formGroup">
    <mat-dialog-actions class="d-flex justify-content-end">
      <button type="button" mat-icon-button mat-dialog-close color="warn">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-dialog-actions>
  
    <mat-vertical-stepper linear>
      <mat-step>
        <ng-template matStepLabel>Nombre y Descripción</ng-template>
        <div class="row py-2">
          <div class="col-12 py-2">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Nombre</mat-label>
              <input title="nombre" placeholder="Ingresa el nombre" formControlName="name" matInput type="text" />
            </mat-form-field>
          </div>
        </div>
        <div class="row py-2">
          <div class="col-12 py-2">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Horario</mat-label>
              <textarea title="horario" placeholder="Ingresa el horario" formControlName="schedule" matInput></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="row py-2">
          <div class="col-12 py-2">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Turno</mat-label>
              <textarea title="turno" placeholder="Ingresa el turno" formControlName="shift" matInput></textarea>
            </mat-form-field>
          </div>
        </div>
        <div>
          <button type="button" mat-button matStepperNext [disabled]="formGroup.get('name')?.invalid || formGroup.get('schedule')?.invalid || formGroup.get('shift')?.invalid">Siguiente</button>
        </div>
      </mat-step>
  
      <mat-step>
        <ng-template matStepLabel>Confirmar</ng-template>
        <p>Por favor, revisa la información antes de guardar.</p>
        <div>
          <button type="button" mat-button matStepperPrevious>Anterior</button>
          <button type="button" mat-button (click)="onSubmit()" [disabled]="formGroup.invalid">Guardar</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </form>
  