<form [formGroup]="formGroup">
    <mat-dialog-actions class="d-flex justify-content-end">
      <button type="button" mat-icon-button mat-dialog-close color="warn">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-dialog-actions>
    <mat-vertical-stepper linear>
      <mat-step>
        <ng-template matStepLabel>Nombre y Apellido</ng-template>
        <div class="row py-2">
          <div class="col-6 py-2">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Nombre</mat-label>
              <input title="nombre" placeholder="Ingresa el nombre" formControlName="firstname" matInput type="text" />
              
            </mat-form-field>
          </div>
          <div class="col-6 py-2">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Apellido</mat-label>
              <input title="apellido" placeholder="Ingresa el apellido" formControlName="lastname" matInput type="text" />
            </mat-form-field>
          </div>
        </div>
        <div>
          <button type="button" mat-button matStepperNext [disabled]="formGroup.get('firstname')?.invalid || formGroup.get('lastname')?.invalid">Siguiente</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Email</ng-template>
        <div class="row py-2">
          <div class="col-12 py-2">
            <mat-form-field class="w-100" appearance="outline">
              <input title="email" placeholder="Ingresa el email" formControlName="email" matInput type="text" />
            </mat-form-field>
          </div>
        </div>
        <div>
          <button type="button" mat-button matStepperPrevious>Anterior</button>
          <button type="button" mat-button matStepperNext [disabled]="formGroup.get('email')?.invalid">Siguiente</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Fecha de Nacimiento</ng-template>
        <div class="row py-2">
          <div class="col-12 py-2">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Fecha de Nacimiento</mat-label>
              <input title="Fecha de Nacimiento" placeholder="Ingresa el nacimiento" matInput [matDatepicker]="picker" formControlName="birth">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div>
          <button type="button" mat-button matStepperPrevious>Anterior</button>
          <button type="button" mat-button matStepperNext [disabled]="formGroup.get('birth')?.invalid">Siguiente</button>
        </div>
      </mat-step>
      
  
      <mat-step>
        <ng-template matStepLabel>Confirmar</ng-template>
        <p>Por favor, revisa la información antes de guardar.</p>
        <div>
          <button type="button" mat-button matStepperPrevious>Anterior</button>
          <button type="button" mat-button (click)="onSubmit()" [disabled]="formGroup.get('firstname')?.invalid || formGroup.get('lastname')?.invalid || formGroup.get('email')?.invalid || formGroup.get('role')?.invalid">Guardar</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </form>
  