<mat-drawer-container class="example-container" autosize>
    <!--Sidebar-->
    <mat-drawer  [opened]="isMobile() ? 'false' : 'true'" #drawer class="example-sidenav" [mode]="isMobile() ? 'over' : 'side'">
      <div class="sidenav-header d-flex justify-content-center align-items-center">
        <button (click)="showFiller = !showFiller" mat-icon-button color="primary">
          <mat-icon>sync_alt</mat-icon>
        </button>  
      </div>
      <hr class="m-0 mx-3">
      <div class="sidenav-body p-3">
        <mat-nav-list>
          <a routerLink="home" mat-list-item class="d-flex flex-row align-items-center py-1">
            <mat-icon color="primary">home</mat-icon>
            @if (showFiller) {
              <span class="ms-2 user-text">Inicio</span>
            }
          </a>
          <a routerLink="users" mat-list-item class="d-flex flex-row align-items-center py-1">
            <mat-icon color="primary">person</mat-icon>
            @if (showFiller) {
              <span class="ms-2 user-text">Usuarios</span>
            }
          </a> 
          <a routerLink="courses" mat-list-item class="d-flex flex-row align-items-center py-1">
            <mat-icon color="primary">school</mat-icon>
            @if (showFiller) {
              <span class="ms-2 user-text">Cursos</span>
            }
          </a>
          <a routerLink="classes" mat-list-item class="d-flex flex-row align-items-center py-1">
            <mat-icon color="primary">workspaces</mat-icon>
            @if (showFiller) {
              <span class="ms-2 user-text">Classes</span>
            }
          </a>
        </mat-nav-list>
      </div>
      

      

    </mat-drawer>
    <!--End Sidebar-->

    <!--Contenido-->
    <div class="example-sidenav-content">

        <!--Toolbar-->
        <mat-toolbar color="primary">
            <button 
                mat-icon-button 
                class="example-icon" 
                aria-label="Example icon-button with menu icon"
                (click)="drawer.toggle()"
            >
                <mat-icon>menu</mat-icon>
              </button>
          
            <span>Gestión de Alumnos</span>
        </mat-toolbar>
        <!--End Toolbar-->
        <main>
          <router-outlet />
        </main>
    </div>
    <!--End Contenido-->
  
  </mat-drawer-container>
