<div *ngIf="isLoading" class="spinner d-flex justify-content-center align-items-center">
    <mat-spinner></mat-spinner>
</div>

<ng-container *ngIf="!isLoading">
    <div class="p-3">
        <h2 tituloGrande>Lista de Inscripciones</h2>
      </div>
    <div class="px-3">
        <form [formGroup]="registrationForm" action="" class="py-3">
            <div class="d-flex flex-column">
                <div class="d-flex justify-content-center">
                    <mat-form-field class="px-2">
                        <mat-label>Usuario</mat-label>
                        <mat-select formControlName="usuario">
                            <mat-option [value]="user" *ngFor="let user of users">{{ user.firstname }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="px-2">
                        <mat-label>Curso</mat-label>
                        <mat-select formControlName="curso">
                            <mat-option [value]="course" *ngFor="let course of courses">{{ course.name }}</mat-option>
                        </mat-select>
                    </mat-form-field>      
                </div>
                <button class="m-auto" (click)="createRegistration()" mat-button color="primary" ><mat-icon>add_circle</mat-icon>Crear Inscripción</button>    
            </div>
        </form>
            
        <table mat-table [dataSource]="registration" class="mat-elevation-z8">
        <!-- Columna ID -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID de Inscripción</th>
            <td mat-cell *matCellDef="let reg">{{ reg.id }}</td>
        </ng-container>
    
        <!-- Columna Datos Usuario -->
        <ng-container matColumnDef="user">
            <th mat-header-cell *matHeaderCellDef>Usuario</th>
            <td mat-cell *matCellDef="let reg">
            <p>{{ reg.usuario.firstname }}</p>
            <p>{{ reg.usuario.lastname }}</p>
            <p>{{ reg.usuario.birth | date }}</p>
            <p>{{ reg.usuario.email }}</p>
            </td>
        </ng-container>
    
        <!-- Columna Datos Curso -->
        <ng-container matColumnDef="course">
            <th mat-header-cell *matHeaderCellDef>Curso</th>
            <td mat-cell *matCellDef="let reg">
            <p>{{ reg.curso.name }}</p>
            <p>{{ reg.curso.schedule }}</p>
            <p>{{ reg.curso.shift }}</p>
            </td>
        </ng-container>
        
    
        <!-- Actions Columns -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element"> 
            <button  mat-icon-button color="primary">
                <mat-icon>edit</mat-icon>
            </button> 
            <button (click)="deleteRegistration(element.id)" mat-icon-button color="warn">
                <mat-icon>delete_forever</mat-icon>
            </button> 
            </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    
</ng-container>
  

